{% extends "base.html" %}

{% block content %}
    <title>Create Purchase Request</title>

    <form method="GET" action="/poc">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.contact.label }}
        {% if form.contact.errors %}
            {% for error in form.contact.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.contact }}
    </div>
    <div class="form-group">
        {{ form.required_date.label }}
        {% if form.required_date.errors %}
            {% for error in form.required_date.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.required_date }}
    </div>
        {% if cart  %}
        <table style="width:30%" class="center">
			<tr>
				<th>Item Info</th>
				<th>Quantity</th>
			</tr>

			{% for cartItem in cart %}
			<tr>
                <input type="hidden" value="{{cartItem.item_id}}_{{cartItem.quantity}}" name="cart">
				<td style="text-align:center">{{dictCatalog.get(cartItem.item_id)}}</td>
				<td style="text-align:center">{{cartItem.quantity}}</td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <p>Cart is empty</p>
        {% endif %}
        <input name="submit" type="submit" value="Back">
    </form>
{% endblock %}